@using Sitecore.Mvc
@using Sitecore.Mvc.Presentation
@using Sitecore.Web.UI.Controls.Common.UserControls
@model RenderingModel
@{
    var rendering = Html.Sitecore().Controls().GetUserControl(Model.Rendering);

    rendering.Class = "sc-RichTextEditor";
    rendering.Requires.Script("client", "RichTextEditor.js");

    rendering.Attributes["data-sc-height"]= rendering.GetString("Height", "Height", string.Empty);
    rendering.Attributes["data-sc-width"]= rendering.GetString("Width", "Width", string.Empty);

    var htmlAttributes = rendering.HtmlAttributes;
}
<div>
    <textarea @htmlAttributes id="@rendering.GetString("Id", "Id", string.Empty)"></textarea>
</div>
